.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
} 
.Sidebar{
  height: 100%;
  width: 250px; 
  background-color: blue;
} 
 /* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin); 

}   */
.center-stepper{
  display: flex;
  justify-content: center;
} 